<!DOCTYPE html>
<html>
  <head>
    <title>Esforza</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="image" property="og:image" content="<%=image_url('ss_routes.png')%>" />

    <meta name="description" property="og:description" content="Esforza is a single-page, full-stack web application inspired by Strava and built with Ruby on Rails and PostgreSQL on the backend, React for the frontend, and enhanced by the Google Maps API.">

    <meta name="author" content="Edward Trinidad">

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.dig(:google_maps_key)}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_include_tag  "https://kit.fontawesome.com/11ce0e586d.js"%>

    <link rel="icon" href="<%= image_url('favicon.ico')%>" type="image/x-icon">
   


    


    <script type="text/javascript"> window.githubIcon = "<%= image_url('github_logo.png') %>" </script>
    <script type="text/javascript"> window.linkedInIcon = "<%= image_url('linkedin_logo.png') %>" </script>
    <script type="text/javascript"> window.angelListIcon = "<%= image_url('angellist_logo.png') %>" </script>
    <script type="text/javascript"> window.splash2 = "<%= image_url('splash_image.jpg') %>" </script>
    <script type="text/javascript"> window.splash = "<%= image_url('devices.png') %>" </script>


    <script type="text/javascript">
      window.secret = "<%= Rails.application.credentials.dig(:google_maps_key) %>"
    </script>

    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
