<!DOCTYPE html>
<html>
  <head>
    <title>Esforza</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyC-xGxqucmE-wuTMeC_56wWCOLAP9grwaE" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag  "https://kit.fontawesome.com/11ce0e586d.js"%>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
